
/db.sqlite3
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/msb_check.iml
/.idea/vcs.xml
